form {
  text-align: center;
  color: #eee;
  font-size: 1.2rem;
}

form input {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 5vh;
  background-color: #bbb;
  font-size: 1.2rem;
}

form button {
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
  background-color: #ccc;
}
